<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link href="/assets/favicon.ico" rel="icon" type="image/x-icon" />
        <title>WLSD</title>
    </head>
    <body>
        <style>
            body {
                background-color: #000;
                color: #fff;
                font-family: Arial, sans-serif;
                margin: 0;
                padding: 0;
            }
        </style>
        <header>
            <h1>{{ message }}</h1>
        </header>
        <script>
            (async () => {
                console.log("{{ message }}");
            })();
        </script>
    </body>
</html>
