name: Deploy
on:
  push:
    branches: [main]

jobs:
  deploy:
    name: Deploy
    runs-on: ubuntu-latest
    permissions:
      contents: read
    steps:
      - uses: actions/checkout@v4
      - uses: dtolnay/rust-toolchain@stable
        with:
          targets: aarch64-unknown-linux-gnu
      - uses: Swatinem/rust-cache@v2
      - name: install gcc-aarch64-linux-gnu
        run: sudo apt install -y gcc-aarch64-linux-gnu

      - name: Setup SSH key
        run: |
          mkdir ~/.ssh
          chmod 700 ~/.ssh
          echo "${{ secrets.ROOT_SSH_PRIVKEY }}" > ~/.ssh/id_ed25519
          chmod 600 ~/.ssh/id_ed25519
          ssh-keyscan beta.lightandsound.design > ~/.ssh/known_hosts
          chmod 600 ~/.ssh/known_hosts

      - name: deploy
        run: scripts/deploy.sh ec2-user@beta.lightandsound.design
